*{
  text-align: center;

  font-family: 'Raleway', sans-serif;
}
a{
  text-decoration: none;
  color: white;
}
p{
  margin-right: 20px;
  margin-left: 20px;
}
e
body {
  margin: 0px;
  padding: 0px;
}

.button {
  border: 3px solid ;
  border-color: #3f8da7;
  margin-top: 10px;
  margin-bottom: 10px;
  color:#3f8da7;
}
.center{
  margin: auto;
  border-radius: 100%;
  display: block;
  border: 2px solid;
  border-color: #3f8da7;
  max-height: 200px;
}
.center2{
  margin: auto;
  border-radius: 100%;
  display: block;
  border: 2px solid;
  border-color: #3f8da7;
  max-height: 150px;
  margin-top: 20px;
}

.float-top-left{
  padding: 5px;
  padding-left: 1rem;
  height: 2rem;
  width: 2rem;
  text-align: none;
}

.float-top-right{
  float: right;
  padding: .7rem 1rem;
  margin-right: 0 2rem;
  margin-top: 0;
}

.footer{
  padding: 1px 5rem;
  background: #3f8da7;
  color: white;
  position: relative;
}

/*DOG GALLERY PORTION*/
.dog-gallery{
  background: white;
  position: relative;
  top: 0%;
}

.container {
  position: relative;
  display: inline-block;
  max-width: 320px;
  vertical-align: top;
}


.inline-block{
  display: inline-block;
  border-radius:50%;
  min-width: 245px;
  max-width: 260px;
 /* min-height: 398px;
  max-height: 430px;*/
  margin: 0px 1rem;
  padding-top: 1rem;
  position: relative;
}



.vertical-align-top{
  vertical-align: top;
}




.no-top-margin{
 padding-top: 10px;
}

.profile{
  background-image: url("../images/park.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 1rem 0rem;
  text-align: center;
}

.size-me{
  max-height: 75px;
  width: 2rem;
  padding: .5rem;
  margin: 0 .5rem;
  font-weight: : lighter;
}

.text {
  text-align: center;
  font-weight: lighter;

}
.topBar{
  background-color: #92e0e5;
  width: 100%;
  text-align: left;
}
.underline{
  text-decoration: underline;
}
